body
{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

  background-color: #333333;
}

header
{
  top:0;
  padding: 1rem;
  z-index: 10;

  background-color: #333333;
  color: #ea4f6a;

  font-family: 'Roboto', sans-serif;
}

.header h1
{
  margin:0;
  padding:0;

  font-weight: 900;
}

header.fixed
{
  position: fixed;
  width: 100%;
}

div.header
{
  text-align: center;
}

div.fixedBallBot
{
  position: fixed;
  bottom: -10rem;
  right: -5rem;
  z-index: 10;
}

div.fixedBallBot:hover
{
  opacity: 0.5;
}

.pageButton
{
  margin: 1rem 0.5rem 0rem 0.5rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;

  border: none;
  background-color: transparent;
  color: white;
}

.pageButton:hover
{
  opacity: 0.5;
}

div.section
{
  padding: 10rem 10% 10rem 10%;
  margin: 2rem 0 2rem 0;

  background-color: #444444;
  color: white;
}

div.textCentre
{
  text-align: center;
}

div.sectionGrid
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 5rem;

  padding: 10rem 10% 10rem 10%;

  background-color: #444444;
  color: white;
}

h2
{
  text-align: center;
  font-weight: 900;

  color: #ea4f6a;
}

h3
{
  font-weight: 500;

  color: #ea4f6a;
}

p
{
  font-weight: 300;

  white-space: pre-line;
  text-align: justify;
  text-justify: inter-word;
}
